doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom Zoom Zoom
        link(rel="stylesheet" href="../public/css/style.css")
        //-link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        block contents
        footer &copy; #{new Date().getFullYear()} ZZZ
        script(src="/socket.io/socket.io.js")
        script(src="./public/js/app.js")
        script(type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
        script(nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")