@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #2e363e;
  height: 100%;
  background-color: #eff3f4;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  flex: 1;
}

main {
  box-sizing: border-box;
  margin: 45px;
  display: flex;
}

button {
  border: none;
  background-color: transparent;
}

.formBox__form__btn ion-icon {
  font-size: 30px;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.formBox__form__btn ion-icon:hover {
  color: #b721ff;
}

.btn--w ion-icon {
  color: rgba(255, 255, 255, 0.5);
}

.btn--w ion-icon:hover {
  color: white;
}

.formBox__form__input {
  padding: 5px 10px;
  width: 75%;
  background-color: #ffff;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: border-color 0.3s ease-in-out;
}

.formBox__form__input:focus {
  border-color: #b721ff;
}

.formBox__form__input--w {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.5);
  transition: border-color 0.3s ease-in-out;
  color: white;
}
.formBox__form__input--w::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.formBox__form__input--w:focus {
  border-color: white;
}

/* 스크린 3개 마진 */
#welcome,
#watingRoom,
#room {
  color: black;
  width: 100%;
  width: 350px;
}

/*입장 버튼*/
.btn--round {
  padding: 5px 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  height: 25px;
  border-radius: 20px;
  transition: background-color, 0.3s ease-in-out;
  cursor: pointer;
}

.btn--round:hover {
  background-color: #6ea0fe;
}

.container--bg {
  border-radius: 20px;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  background-color: #ffff;
  position: relative;
}

.container--sm {
  border-radius: 20px;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

.nav {
  padding: 20px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

.nav__user {
  font-size: 15px;
  display: flex;
  align-items: center;
}

.main__welcome,
.main__watingRoom {
  height: 450px;
  padding: 50px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  color: white;
  font-size: 50px;
}

.main__welcome h1 {
  font-size: 35px;
  font-weight: 600;
}
.main__welcome h2 {
  margin-top: 30px;
  font-size: 20px;
}

/*하단 모든 form input과 btn*/
.formBox {
  height: 70px;
  padding: 17px 20px;
  width: 100%;
}

.formBox__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__watingRoom__rooms {
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main__watingRoom__rooms section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.main__watingRoom__rooms--icon {
  width: 30%;
  font-size: 50px;
  color: #ffffff;
}

/* 아이콘 모양 */
.icon--background {
  margin-bottom: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
  border-radius: 50%;
  position: relative;
}

.icon--bg {
  font-size: 50px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roomBox__nickname,
.roomBox__roomName {
  font-size: 15px;
}

/* room 스크린*/
.container--video {
  height: 520px;
}
.main__room__video {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

video {
  width: 100%;
  height: 260px;
}

.main__room__chat {
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  width: 100%;
  height: 260px;
  bottom: 0;
  z-index: 1;
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.main__room__chat__chatList {
  margin-top: 60px;
  padding: 20px 20px 10px 20px;
  height: 140px;
  overflow: auto;
  word-wrap: break-word;
  text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.5);
}

.main__room__chat__chatForm {
  position: absolute;
  bottom: 0;
}
